* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
    cursor: url('../img/Cuyicursor.png'), auto;
}

.footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0; 
    width: 100%; 
    font-size: 16px;
    box-sizing: border-box;
}
.repolink i{
    font-size: 24px;
    color: rgb(255, 255, 255); 
    padding: 4px;
}
.repolink{
    font-size: 10px;
    text-decoration: none; 
    color: white;
    align-items: center;
    text-align: center;
    cursor: url('../img/Cuyicursor.png'), auto;
}
.repolink:hover, 
.repolink:hover i {
    color: black;
}
